{% extends "base.html" %}
{% block title %}convertidor{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
<div class="card" style="width: 18rem;">
    <img src="/static/gas-marcaopr.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bienvenidos a Convertidor</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, ea ut excepturi totam nobis ullam facere. Ea distinctio in natus voluptas nesciunt, pariatur saepe aliquam voluptatum dicta, accusamus dolores?</p>
      <a href="/consumo" class="btn btn-primary">Consumo</a>
    </div>
  </div>
{% endblock %}
